/*
	By Osvaldas Valutis, www.osvaldas.info
	Available for use under the MIT License
*/
* {
    --c: #343a40;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-family: 'MuseoModerno', cursive;
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    border-radius: 5px;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}


.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 6 */

.inputfile + label {
    color: black;
}

.inputfile + label {
    border: 1px solid white;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    border-color: grey;
}

.inputfile + label span,
.inputfile + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile + label strong {
    height: 100%;
    color: white;
    background-color: var(--c);;
    display: inline-block;
}

.inputfile:focus + label strong,
.inputfile.has-focus + label strong,
.inputfile + label:hover strong {
    background-color: grey;
}

@media screen and (max-width: 50em) {
	.inputfile + label strong {
		display: block;
	}
}
